{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Цена</th>
      <th>Рестораны</th>
      <th>Редактировать заказ</th>
    </tr>
    {% for item in order_items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.status}}</td>
        <td>{{item.payment}}</td>
        <td>{{item.firstname}}<br>{{item.lastname}}</td>
        <td>{{item.phonenumber}}</td>
        <td>{{item.address}}</td>
        <td>{{item.comments}}</td>
        <td><details>
          <summary>Рестораны</summary>
          {% for restaurant in item.restaurants %}
            <p>{{ restaurant.name }}<br>{{ restaurant.address }}</p>
          {% endfor %}
        </details></td>
        <td>{{item.price}} руб.</td>
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=item.id %}?next={{ request.path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
